# Importing Libraries and Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv("/Users/abdul/Downloads/Mental Health/playground-series-s4e11/train.csv")
test_data = pd.read_csv("/Users/abdul/Downloads/Mental Health/playground-series-s4e11/test.csv")

In [3]:
train_data.head(10)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
5,5,Vani,Female,59.0,Ahmedabad,Working Professional,Finanancial Analyst,NaN,2.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0
6,6,Ritvik,Male,47.0,Thane,Working Professional,Chemist,NaN,5.0,NaN,NaN,2.0,7-8 hours,Moderate,MD,No,6.0,2.0,No,0
7,7,Rajveer,Male,38.0,Nashik,Working Professional,Teacher,NaN,3.0,NaN,NaN,4.0,7-8 hours,Unhealthy,B.Pharm,No,10.0,3.0,Yes,0
8,8,Aishwarya,Female,24.0,Bangalore,Student,NaN,2.0,NaN,5.90,5.0,NaN,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
9,9,Simran,Female,42.0,Patna,Working Professional,Electrician,NaN,4.0,NaN,NaN,1.0,5-6 hours,Healthy,ME,Yes,7.0,2.0,Yes,0

In [4]:
train_data.City.unique()

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore', 'Ishanabad', 'Vidhi', 'Ayush', 'Gurgaon',
       'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Nalini', 'Aditya',
       'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna',
       'Less Delhi', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush',
       'City', '3.0', 'Less than 5 Kalyan', 'MCA', 'Mira', 'Moreadhyay',
       'Morena', 'Ishkarsh', 'Kashk', 'Mihir', 'Vidya', 'Tolkata', 'Anvi',
       'Krinda', 'Ayansh', 'Shrey', 'Ivaan', 'Vaanya', 'Gaurav', 'Harsh',
       'Reyansh', 'Kashish', 'Kibara', 'Vaishnavi', 'Chhavi', 'Parth',
       'Mahi', 'Tushar', 'MSc', 'No', 'Rashi', 'ME', 'Molkata',
       'Researcher', 'Kagan', 'Armaan', 'Ithal', 'Nalyan', 'Dhruv',
       'Galesabad', 'Itheg', 'Aaradhya', 'Pooja', 'Khushi', 'Khaziabad',
       'Jhanvi', 'Unirar'], dtype=object)

In [5]:
invalid_values = [
    'less than 5',
    'no',
    'city',
    'msc',
    'me',
    '3.0'
]

train_data['City'] = train_data['City'].astype(str)

train_data.loc[
    train_data['City'].str.lower().isin(invalid_values) |
    train_data['City'].str.contains('less than 5', case=False, na=False),
    'City'
] = np.nan

In [6]:
train_data.City.unique()

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore', 'Ishanabad', 'Vidhi', 'Ayush', 'Gurgaon',
       'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Nalini', 'Aditya',
       'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna',
       'Less Delhi', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush',
       nan, 'MCA', 'Mira', 'Moreadhyay', 'Morena', 'Ishkarsh', 'Kashk',
       'Mihir', 'Vidya', 'Tolkata', 'Anvi', 'Krinda', 'Ayansh', 'Shrey',
       'Ivaan', 'Vaanya', 'Gaurav', 'Harsh', 'Reyansh', 'Kashish',
       'Kibara', 'Vaishnavi', 'Chhavi', 'Parth', 'Mahi', 'Tushar',
       'Rashi', 'Molkata', 'Researcher', 'Kagan', 'Armaan', 'Ithal',
       'Nalyan', 'Dhruv', 'Galesabad', 'Itheg', 'Aaradhya', 'Pooja',
       'Khushi', 'Khaziabad', 'Jhanvi', 'Unirar'], dtype=object)

In [7]:
train_data.shape

(140700, 20)

In [8]:
train_data.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,140700.000000,140700.000000,27897.000000,112782.000000,27898.000000,27897.000000,112790.000000,140700.000000,140696.000000,140700.000000
mean,70349.500000,40.388621,3.142273,2.998998,7.658636,2.944940,2.974404,6.252679,2.988983,0.181713
std,40616.735775,12.384099,1.380457,1.405771,1.464466,1.360197,1.416078,3.853615,1.413633,0.385609
min,0.000000,18.000000,1.000000,1.000000,5.030000,1.000000,1.000000,0.000000,1.000000,0.000000
25%,35174.750000,29.000000,2.000000,2.000000,6.290000,2.000000,2.000000,3.000000,2.000000,0.000000
50%,70349.500000,42.000000,3.000000,3.000000,7.770000,3.000000,3.000000,6.000000,3.000000,0.000000
75%,105524.250000,51.000000,4.000000,4.000000,8.920000,4.000000,4.000000,10.000000,4.000000,0.000000
max,140699.000000,60.000000,5.000000,5.000000,10.000000,5.000000,5.000000,12.000000,5.000000,1.000000

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140692 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [10]:
train_data.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          8
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [11]:
train_data.head(5)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0

In [12]:
train_data['Sleep Duration'].unique()

array(['More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours',
       'Sleep_Duration', '1-2 hours', '6-8 hours', '4-6 hours',
       '6-7 hours', '10-11 hours', '8-9 hours', '40-45 hours',
       '9-11 hours', '2-3 hours', '3-4 hours', 'Moderate', '55-66 hours',
       '4-5 hours', '9-6 hours', '1-3 hours', 'Indore', '45', '1-6 hours',
       '35-36 hours', '8 hours', 'No', '10-6 hours', 'than 5 hours',
       '49 hours', 'Unhealthy', 'Work_Study_Hours', '3-6 hours',
       '45-48 hours', '9-5', 'Pune', '9-5 hours'], dtype=object)

In [13]:
train_data.columns.tolist()

['id',
 'Name',
 'Gender',
 'Age',
 'City',
 'Working Professional or Student',
 'Profession',
 'Academic Pressure',
 'Work Pressure',
 'CGPA',
 'Study Satisfaction',
 'Job Satisfaction',
 'Sleep Duration',
 'Dietary Habits',
 'Degree',
 'Have you ever had suicidal thoughts ?',
 'Work/Study Hours',
 'Financial Stress',
 'Family History of Mental Illness',
 'Depression']

# Cleaned Sleep Duration column

In [ ]:
import re

invalid_values = [
    'Work_Study_Hours',
    'Pune',
    '45-48 hours',
    '49 hours',
    '35-36 hours',
    'No',
    '45',
    '55-66 hours',
    'Moderate',
    'Unhealthy',
    '40-45 hours',
    'Sleep_Duration'
]

# Normalize: lowercase + strip + standardize unicode dash
train_data['Sleep Duration'] = (
    train_data['Sleep Duration']
        .astype(str)
        .str.strip()
        .str.replace('–', '-', regex=False)   # convert en-dash to normal dash
        .str.lower()
)

# Build regex pattern to match ANY invalid value
pattern = '|'.join([re.escape(v.lower()) for v in invalid_values])

# Replace anything matching pattern with NaN
train_data.loc[
    train_data['Sleep Duration'].str.contains(pattern, na=False),
    'Sleep Duration'
] = np.nan

In [23]:
train_data['Sleep Duration'].unique()

array(['more than 8 hours', 'less than 5 hours', '5-6 hours', '7-8 hours',
       'nan', '1-2 hours', '6-8 hours', '4-6 hours', '6-7 hours',
       '10-11 hours', '8-9 hours', '9-11 hours', '2-3 hours', '3-4 hours',
       '4-5 hours', '9-6 hours', '1-3 hours', 'indore', '1-6 hours',
       '8 hours', '10-6 hours', 'than 5 hours', '3-6 hours', '9-5',
       '9-5 hours'], dtype=object)

# Cleaned Dietary Habits column

In [26]:
train_data['Dietary Habits'].unique()

array(['Healthy', 'Unhealthy', 'Moderate', 'Yes', 'Pratham', 'BSc',
       'Gender', '3', 'More Healthy', 'Less than Healthy', 'Mihir', '1.0',
       'Hormonal', 'Electrician', nan, 'No Healthy', 'Less Healthy',
       'M.Tech', 'Vegas', 'No', 'Male', 'Indoor', 'Class 12', '2'],
      dtype=object)

In [31]:
invalid_values = [ 'Yes',
                  'Pratham',
                  'BSc',
                  'Gender',
                  '3',
                  'Mihir',
                  '1.0',
                  'Electrician',
                  'M.Tech',
                  'class 12',
                  '2'
]


# Normalize: lowercase + strip + standardize unicode dash
train_data['Dietary Habits'] = (
    train_data['Dietary Habits']
        .astype(str)
        .str.strip()
        .str.replace('–', '-', regex=False)   # convert en-dash to normal dash
        .str.lower()
)


# Build regex pattern to match ANY invalid value
pattern = '|'.join([re.escape(v.lower()) for v in invalid_values])


# Replace anything matching pattern with NaN
train_data.loc[
    train_data['Dietary Habits'].str.contains(pattern, na=False),
    'Dietary Habits'
] = np.nan

In [32]:
train_data['Dietary Habits'].unique()

array(['healthy', 'unhealthy', 'moderate', 'nan', 'more healthy',
       'less than healthy', 'hormonal', 'no healthy', 'less healthy',
       'vegas', 'no', 'male', 'indoor', nan], dtype=object)

# Cleaned Degree column

In [35]:
train_data['Degree'].unique()

array(['BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
       'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
       'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
       'MBBS', 'M.Pharm', 'UX/UI Designer', 'MPA', 'BH', 'Nalini', 'BEd',
       'B.Sc', 'Veda', 'Bhopal', 'S.Tech', 'Degree', '20', 'Class 11',
       'H_Pharm', 'M', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
       'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'Kalyan',
       'Unite', 'BArch', 'HR Manager', 'Badhya', 'S.Pharm', 'LLBA',
       'Vrinda', 'M. Business Analyst', 'Bhavesh', '0', 'LLCom', '29',
       'MTech', 'Vivaan', 'BPA', 'Plumber', '5.61', 'Brit', 'B.03',
       'Ritik', '5.56', 'MEd', 'B', 'B BA', '7.06', 'B.B.Arch', 'ACA',
       'Brithika', 'CGPA', '24', 'M_Tech', 'Pihu', 'BB', 'Jhanvi',
       'LLTech', 'Aarav', 'Entrepreneur', '8.56', 'LHM', 'Lata', 'S.Arch',
       'Marsh', 'HCA', '5.88', 'B.Student', 'LL B.Ed', 'M.S', 'Navya',
       'Mahika', nan, 'K.Ed', 'B.3.79', 'Mthanya', 'Working Professional',
       'Esha', 'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
       'B B.Com', 'RCA', 'Mihir', 'Advait'], dtype=object)

In [ ]:
valid_patterns = [ 'BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch',
                  'BCA', 'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA',
                  'Class 12', 'M.Tech', 'PhD', 'M.Ed', 'MSc', 'B.Tech', 'LLM',
                  'MBBS', 'M.Pharm', 'UX/UI Designer', 'BEd', 'MPA', 'BH',
                  'B.Sc', 'S.Tech', 'Class 11', 'H_Pharm', 'P.Com', 'BPharm', 'Business Analyst', 'M.Arch',
                  'LL.Com', 'Data Scientist', 'MPharm', 'L.Ed', 'P.Pharm', 'BArch',
                  'S.Pharm', 'LLBA', 'LLCom', 'MTech', 'BPA', 'MEd', 'B BA', 'B.B.Arch',
                  'ACA', 'M_Tech', 'LLTech', 'LHM', 'Lata', 'S.Arch',
                  'B.Student', 'LL B.Ed', 'M.S', 'nan', 'K.Ed',
                  'LLS', 'LLEd', 'E.Tech', 'Doctor', 'N.Pharm', 'LCA',
                  'B B.Com', 'RCA', 'Advait'

]

# Step 1 — Normalize column
train_data['Degree'] = (
    train_data['Degree']
        .astype(str)
        .str.strip()
        .str.replace('–', '-', regex=False)
)

# Step 2 — Build a single big regex pattern

# Escape regex characters and join them safely

valid_regex = r'(' + '|'.join([re.escape(v) for v in valid_patterns]) + r')'

# Step 3 — Mark ALL rows that DO NOT match any valid pattern as NaN
train_data.loc[
    ~train_data['Degree'].str.contains(valid_regex, case=False, na=False), 'Degree'] = np.nan

/var/folders/mh/s1njh_gn6sdfs8vjtygnjksm0000gn/T/ipykernel_1865/4255657217.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  ~train_data['Degree'].str.contains(valid_regex, case=False, na=False), 'Degree'] = np.nan

In [41]:
train_data['Degree'].unique()

array(['bhm', 'llb', 'b.pharm', 'bba', 'mca', 'md', 'nan', 'me', 'b.arch',
       'bca', 'be', 'ma', 'b.ed', 'b.com', 'mba', 'm.com', 'mhm', 'ba',
       'phd', 'm.ed', 'msc', 'b.tech', 'llm', 'mbbs', 'm.pharm',
       'ux/ui designer', 'mpa', 'bh', nan, 'bed', 'b.sc', 'bhopal',
       's.tech', 'class 11', 'h_pharm', 'p.com', 'bpharm',
       'business analyst', 'm.arch', 'll.com', 'data scientist', 'mpharm',
       'l.ed', 'p.pharm', 'barch', 'hr manager', 'badhya', 's.pharm',
       'llba', 'm. business analyst', 'bhavesh', 'llcom', 'mtech', 'bpa',
       'plumber', 'med', 'b ba', 'b.b.arch', 'aca', 'm_tech', 'lltech',
       'lhm', 'lata', 's.arch', 'marsh', 'b.student', 'll b.ed', 'm.s',
       'mahika', 'k.ed', 'lls', 'lled', 'e.tech', 'doctor', 'n.pharm',
       'lca', 'b b.com', 'rca', 'advait'], dtype=object)

# LowerCasing all strings

In [69]:
cols_to_clean = [
    'Name',
    'Gender',
    'City',
    'Working Professional or Student',
    'Profession',
    'Dietary Habits',
    'Family History of Mental Illness',
    'Have you ever had suicidal thoughts ?'
]

for col in cols_to_clean:
    train_data[col] = (
        train_data[col]
            .str.strip()            # remove extra spaces
            .str.replace('–', '-', regex=False)   # normalize dash
            .str.lower()            # convert to lowercase
    )

In [ ]:
train_data['Working Professional or Student'].unique()

array(['working professional', 'student'], dtype=object)

In [71]:
train_data.head(5)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,aaradhya,female,49.0,ludhiana,working professional,chef,NaN,5.0,NaN,NaN,2.0,more than 8 hours,healthy,bhm,no,1.0,2.0,no,0
1,1,vivan,male,26.0,varanasi,working professional,teacher,NaN,4.0,NaN,NaN,3.0,less than 5 hours,unhealthy,llb,yes,7.0,3.0,no,1
2,2,yuvraj,male,33.0,visakhapatnam,student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,healthy,b.pharm,yes,3.0,1.0,no,1
3,3,yuvraj,male,22.0,mumbai,working professional,teacher,NaN,5.0,NaN,NaN,1.0,less than 5 hours,moderate,bba,yes,10.0,1.0,yes,1
4,4,rhea,female,30.0,kanpur,working professional,business analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,unhealthy,bba,yes,9.0,4.0,yes,0